%table.list_view
  - @groups.each do |group|
    %tr{class: "#{cycle('odd', 'even')} group_entry_space", id: "group_entry_#{group.id}", 'data-id'=>"#{group.id}"}
      = render :partial => 'groups/group', locals: {group: group}
  