jQuery(document).ready(function() {
	if($("div.alert")){
		$("div.alert").delay(5000).slideUp()
	}
	if($("div.notice")){
		$("div.notice").delay(5000).slideUp()
	}
	
	// Disable enter key on fields
	$('select, input[type=text], input[type=password], input[type=email]').live('keypress', function(e){
	    if(e.which == 13) return false;
	});
})


function validate_fields(form){
	var disabled = false; 
	
	form.children().find('input').each(function(){
		$(this).blur();
	})
	
	form.children().find('.error_space').each(function(){
		if($(this).html() != ""){
			disabled = true;
		}
	})
	
	if(disabled){
		form.children().find('input[type=submit]').css('opacity',0.7);
		form.children().find('input[type=submit]').attr('disabled',true);
		return false;
	}else{
		form.children().find('input[type=submit]').css('opacity',1);
		form.children().find('input[type=submit]').attr('disabled',false);
	}
}

function show_spinner(el){
	loader = "<img src=<%= asset_path 'loader.gif'%> class='loader'>"
	$(el).parent().append(loader);
}

function show_modal(content){
	$('div.modal div.html').html(content);
	$("div.dimmer").fadeToggle('fast',function(){
		$("div.modal_space").fadeToggle()
	})
}

function hide_modal(msg){
	$("div.modal_space").fadeToggle('fast',function(){
		$("div.dimmer").fadeToggle('fast',function(){
			if(msg)
				add_activity(msg);
			$('div.modal div.html').html('');
		});
	})
}

function add_activity(msg){
	id = random_number();
	el = ""
	el += "<div id='"+id+"' style='display:none'>"
		el += msg
	el += "</div>"
	$('div#activity').append(el);
	$('#'+id).slideToggle();
	$('#'+id).delay(5000).slideToggle();
}

function remove_activity(id){
	$('#'+id).slideToggle('slow',function(){
		$(this).remove();
	});
}

function random_number(){
	return Math.floor(Math.random()*999999999)
}