// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.minicon, .minicon_nohover {
	margin-top: 4px;
	margin-bottom: -4px;
}

.name_link {
	color: #333;
	cursor: pointer;
	&:hover {
		color: #aaa;
	}
}
#main_container {
	#results {
	}
}

div.contact_header {
	height: 90px;
	div.contact_show {
		font-size: 20px;
		text-align: right;
		width: 330px;
		float: right;
		.contact_show_menu {
			padding-top: 5px;
			float: right;
			font-size: 15px;
			line-height: 16px;
			a {
				padding: 0px 5px;
				cursor: pointer;
			}
		}
	}

	div.contact_badges {
		width: 16px;
		line-height: 16px;
		float: right;
		img.contact_show_tip {
			margin-bottom: 1px;
			width: 16px;
			height: 16px;
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

div.contact_content {
	width: 100%;
}