// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sidebar_width: 200px;

#dashboard{
	overflow-y: scroll;
	.sidebar{
		width: $sidebar_width;
		position: fixed;
		top: 20px;
		left: 20px;
	
		background: #fafafa;
		border: 2px solid white;
		border-left: none;
		border-top: none;
		padding: 10px 10px 25px;
		text-align: right;
		box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
		-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
		
		div.title {
			width: 180px;
			text-align: center;
			margin: 10px auto 40px;
			height: 30px;
			font-family: 'Give You Glory';
			font-size: 50px;
			line-height: 50px;
			font-weight: bold;
			div.subtitle {
				text-align: left;
				margin-top: -26px;
				margin-left: 5px;
				font-family: 'Questrial';
				font-size: 11px;
				color: #666;
			}
		}
		
		a {
			font-size: 16px;
			margin-right: 5px;
			text-align: right;
		}
	}
	.main {
		margin: 20px;
		margin-left: $sidebar_width + 60;
		min-height: 500px;
	
		background: #fafafa;
		border: 2px solid white;
		border-left: none;
		border-top: none;
		padding: 5px 10px;
		text-align: right;
		box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
		-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
		
		h1 {
			text-align: left;
			line-height: 40px;
			color: #333;
			margin: 5px;
			opacity: 0.9;
			font-weight: normal;
			font-size: 40px;
		}
		
		table {
			width: 100%;
			border-collapse: collapse;
			th {
				background: #dedede;
				border-bottom: 1px solid #aaa;
				border-spacing: 0px;
				padding: 2px 5px;
				a {
					color: #555;
					&:hover {
						color: #888;
					}
				}
				&.active {
					background: #cecece;
				}
			}
			tr.even {
				background: #f6f6f6;
			}
			td {
				border-spacing: 0px;
				padding: 2px 5px;
			}
		}
	}
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
img.black_icon {
	opacity: 0.5;
	margin-left: 5px;
}
img.black_icon:hover {
	opacity: 0.8;
}