@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url('fonts/MYWJ4lYm5dbZ1UBuYox79LO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: normal;
  src: local('Give You Glory'), local('GiveYouGlory'), url('fonts/DFEWZFgGmfseyIdGRJAxuLIvcyZs3ZcXnterKxC2uN0.woff') format('woff');
}

.loader {
	width: 22px;
	height: 22px;
	margin: 0px 0 -5px 5px;
}

.minicon {
	opacity: 0.8;
	width: 16px;
	height: 16px;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

body {
	background: url('pattern_sketch.png');
	background-attachment: fixed;
	color: #444;
	margin: 0px;
	font-family: 'Questrial';
	div.title {
		width: 600px;
		text-align: center;
		margin: 20px auto 50px;
		height: 100px;
		font-family: 'Give You Glory';
		font-size: 120px;
		line-height: 120px;
		font-weight: bold;
		div.subtitle {
			text-align: left;
			margin-top: -70px;
			margin-left: 80px;
			font-family: 'Questrial';
			font-size: 30px;
			color: #666;
		}
	}
	a {
		text-decoration: none;
		color: #999;
	}
	a:hover {
		color: #555;
	}
	div.container-notification {
		height: 50px;
		div.notice, div.alert {
			font-size: 14px;
			background: #fafafa;
			padding: 5px;
			color: #666;
			width: 80%;
			margin: 0px auto;
			text-align: center;
			box-shadow: 1px 2px 6px 
			rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
			-webkit-box-shadow: 1px 2px 6px 
			rgba(0, 0, 0, 0.5);
	
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
	div.error {
		font-family: 'Give You Glory';
		width: 600px;
		margin: 150px auto 0px;
		font-size: 70px;
		text-align: center;
		div.note {
			margin: 15px 10px 0px;
			font-family: 'Questrial';
			color: #666;
			font-size: 25px;
		}
	}
}

div.session {
	width: 550px;
	margin: 10px auto;
	
	background: #fafafa;
	border: 2px solid white;
	padding: 20px;
	text-align: center;
	box-shadow: 1px 2px 6px 
	rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px 
	rgba(0, 0, 0, 0.5);
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	div.head {
		font-size: 28px;
	}
	div.links {
		font-size: 13px;
		a {
			padding: 0px 5px;
			cursor: pointer;
		}
	}
}



table.list_view {
	width: 100%;
	border-collapse: collapse;
	th {
		background: #dedede;
		border-bottom: 1px solid #aaa;
		border-spacing: 0px;
		padding: 2px 5px;
		a {
			color: #555;
			&:hover {
				color: #888;
			}
		}
		&.active {
			background: #cecece;
		}
	}
	tr.even {
		background: #f6f6f6;
	}
	td {
		border-spacing: 0px;
		padding: 2px 5px;
		line-height: 25px;
		vertical-align: middle;
	}
}

table.form-login {
	margin: 15px auto;
	td.label {
		text-align: left;
		padding: 0px 10px 0px 0px;
	}
	td.field {
		text-align: left;
	}
	td.submit {
		text-align: center;
		padding: 10px 0px 0px;
	}
}

form {
	div#error_explanation {
		margin: 10px auto;
		h2 {
			display: none;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				color: #990000;
			}
		}
	}
}

div.account_nav {
	margin-top: -10px;
	float: right;
	width: 180px;
	font-family: 'Questrial';
	font-size: 13px;
	text-align: right;
	div.super_title {
		line-height: 50px;
		color: #333;
		opacity: 0.9;
		font-size: 50px;
	}
}


div.super_field {
	margin-top: 5px;
	font-size: 16px;
	text-align: left;
	width: 350px;
	input[type=email], input[type=text], input[type=password] {
		padding: 5px;
		font-size: 22px;
		border: 1px solid #CCC;
	}
	.remember_me {
		text-align: right;
		width: 180px;
		float: right;
	}
	.submit {
		padding-top: 5px;
		text-align: left;
	}
	.error_space {
		float: right;
		color: #990000;
		font-size: 13px;
	}
}

.button {
	font-size: 13px;
	text-align: center;
	display: inline-block;
	padding: 6px 12px;
	margin-right: 5px;
	background: #EEE;
	font-family: 'Questrial';
	border: 1px solid #CCC;
	color: #666;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 #F9F9F9 inset,1px 0 0 #F9F9F9 inset;
	-moz-box-shadow: 0 1px 0 #f9f9f9 inset,1px 0 0 #f9f9f9 inset;
	box-shadow: 0 1px 0 #F9F9F9 inset,1px 0 0 #F9F9F9 inset;
	&.disabled {
		opacity: 0.7;
	}
	&:hover{
		text-decoration:none;
		border:1px solid #999;
		color: #333;
	}
}

.mini_button {
	font-size: 13px;
	text-align: center;
	display: inline-block;
	padding: 2px 4px 1px;
	background: #EEE;
	font-family: 'Questrial';
	border: 1px solid #CCC;
	color: #666;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #F9F9F9 inset,1px 0 0 #F9F9F9 inset;
	-moz-box-shadow: 0 1px 0 #f9f9f9 inset,1px 0 0 #f9f9f9 inset;
	box-shadow: 0 1px 0 #F9F9F9 inset,1px 0 0 #F9F9F9 inset;
}

.hidden {
	display: none;
}